{% extends "../base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="container p-5">
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
                    href="#list-home" role="tab" aria-controls="list-home">Home</a>
                <a class="list-group-item list-group-item-action" id="Wishlist-list" data-bs-toggle="list"
                    href="#Wishlist" role="tab" aria-controls="Wishlist">Wishlist</a>
                <a class="list-group-item list-group-item-action" id="list-orders-list" data-bs-toggle="list"
                    href="#list-orders" role="tab" aria-controls="list-orders">Order History</a>
                <a class="list-group-item list-group-item-action" id="Address-list" data-bs-toggle="list"
                    href="#Address" role="tab" aria-controls="Address">Address</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <div class="bg-white">
                        <h2>Profile</h2>
                        <form method="post" action="{% url 'account_profile' %}" class="form-control">
                            {% csrf_token %}
                            {{form.as_p}}
                        <button class="btn btn-primary" type="submit">Save</button>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="Wishlist" role="tabpanel" aria-labelledby="Wishlist-list">
                    <h2>Wishlist</h2>
                    <ol class="list-group">
                        {% if profile.wishlist.all.count == 0 %}
                        <h5 class="font-monospace mx-4">Wishlist is empty</h5>
                        {% else %}
                        {% for item in profile.wishlist.all %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                <a href="{% url 'product-detail' item.id %}" class="nav-link p-0">{{item.name}}</a>
                            </div>
                            {{item.descriptions|truncatewords:5}}                            
                            <p class="font-monospace mt-3 mb-1">${{item.price}}</p>
                          </div>
                          <button class="btn btn-light bi-x btn-sm border rounded-pill mb-2 btn-wish"
                          style="border-color: rgba(0, 0, 0, 0.26)!important;" data-item="{{item.id}}"></button>
                        </li>
                          {% endfor %}
                        {% endif %}
                    </ol>
                </div>
                <div class="tab-pane fade" id="list-orders" role="tabpanel" aria-labelledby="list-orders-list">
                    <h2>Orders</h2>
                    <ol class="list-group btn">
                        {% if profile.orders.all.count == 0 %}
                        <h5 class="font-monospace mx-4">Nothing to show.</h5>
                        {% else %}
                        {% for order in profile.orders.all %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold font-monospace">
                               Order #{{order.id}}
                            </div>
                        </div>

                         <p class=" mt-3 mb-1">Status:<span class="mx-2 font-monospace">{{order.status}}</span></p>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ol>
                </div>
                <div class="tab-pane fade" id="Address" role="tabpanel" aria-labelledby="Address-list">...
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('.btn-wish').click(function () {
            var item = $(this).data('item');
            var url = '/api/wishlist/' + item;
            let token = 'Bearer '+localStorage.getItem('token');
            fetch(url, {
                    method: "POST",
                    headers: {
                    'Content-Type': 'application/json',
                    'Authorization': token
                    },
                }
            ).then(response => response.json())
            .then(data => {
                if (data) {
                    $(this).parent().addClass('bg-danger');
                    $(this).parent().fadeOut(1000);
                    setTimeout(() => {
                        if(data.wishlist.length == 0){
                            $(this).parent().parent().append('<h5 class="font-monospace mx-4">Wishlist is empty</h5>');
                        }
                        $(this).parent().remove();
                    }, 990);
                }
            } 
            )
                
        });
    });
</script>
{% endblock %}