{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="border rounded w-50 mt-4 pt-4 bg-white">
        <img src="{{ profile.picture.url }}"
            alt="{{logged_in_user.username}}'s profile" style="height:5vw;width: 5vw;">

        <h2>{% if logged_in_user.first_name %}
            {{ logged_in_user.first_name }}
            {% else %}
            No Name!
            {% endif %}</h2>
        <p>email: {{ logged_in_user.email }}</p>
        <p>phone: {{ logged_in_user.phone_number }}</p>
        <h4>Wish List:</h4>
        <ul>
            {% if profile.wishlist.all %}
            {% for item in profile.wishlist.all %}
            <li>name : price : is available</li>
            <li>{{ item.name }} : {{ item.price }} : {% if item.stock %}yes{% else %}no{% endif %}
            </li>
            {% endfor %}

            {% else %}
            <li>no items</li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}