{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %} Art supply Shop {% endblock %}</title>
    <style>
        {% block style %}
        {% endblock %}
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'home' %}">Art Supply</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link" href="#">ABOUT US</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">PRODUCTS</a>
                        <ul class="dropdown-menu dropdown-menu-dark bg-dark border-0 p-0 pb-md-2" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">ALL</a></li>
                            {% if categories %}
                            <li><hr class="dropdown-divider" /></li>
                            {% endif %}
                            {% for category in categories %}
                            <li><a class="dropdown-item" href="#!">{{ category.category_name|title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul><div class="ml-5">
                    <ul class="navbar-nav m-3">
                        {% if user.is_authenticated %}
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link" href="{% url 'account_profile' user.slug %}">{{ user.phone_number }}</a><span
                                class="d-none d-md-block" style="color: gainsboro;">|</span>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link" href="{% url 'account_logout' %}">LOG OUT</a>
                        </li>
                        {% else %}
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link" href="{% url 'account_login' %}">LOG IN</a><span class="d-none d-md-block"
                                style="color: gainsboro;">|</span>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <a class="nav-link" href="{% url 'account_signup' %}">SIGN UP</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                    <button class="btn btn-outline-light" id="cart-load">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">{{ cart_counter|default:"0" }}</span>
                    </button>
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock content %}
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Sobhan Imani 2023</p></div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
crossorigin="anonymous"></script>
</html>