{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block style %}
.parallax {
/*scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.top-banner
{
    background-image: url("{% static 'img/banner.jpg' %}");
    height: 90vh;
}
.discount{
    background-image: url("{% static 'img/discount.png' %}");
    min-height: 50vh;
}

{% endblock style %}

{% block content %}

<header class="parallax top-banner">
    <div class="container py-lg-5">
        <div class="text-center text-white">
            <div class="d-flex justify-content-center">
                <h1 class="display-4 fw-bolder rounded bg-dark p-3 pt-2 mt-5" style="opacity: 85%;">Your dream
                    artwork</h1>
            </div>
            <p class="lead fw-normal text-white-50 mt-2 mb-2">Best arts waiting for you</p>
            <a class="btn btn-lg btn-outline-light mt-5 rounded-pill" href="{% url 'products-list' %}">Shop Now</a>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-3 pt-5">
        <h3 class="fw-bolder mb-4 pb-4">New Products</h3>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for item in last_items %}
            {% include 'cards.html' with item=item %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="discount parallax">
    <div class="container px-4 px-lg-5 mt-3 pt-5">
        <div class="row gx-4 gx-lg-5 justify-content-end">
            <div class="col-12 col-md-6 mb-5 text-center">
                <h3 class="fw-bolder pb-3 mt-5">Discounts</h3>
                <p class="lead fw-normal text-muted mb-3">Just for you</p>
                <a class="btn btn-lg btn-outline-dark mt-5 rounded-pill" href="{% url 'products-list' %}?discount=1">Show more</a>
            </div>
            {% for item in discounted_items %}
            {% include 'cards.html' with item=item %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}